---
layout: default
notitle: true
---

<!-- This loops through the paginated posts -->
{% for page in paginator.posts %}
  {% include posttitle.html link=true %}
  {{ page.excerpt }}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
{% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">Previous<i class="material-icons">navigate_before</i></a>
{% endif %}
<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next"><i class="material-icons">navigate_next</i>Next</a>
{% endif %}
</div>
