{% unless page.notitle %}
    {% if include.link %}
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    {% else %}
        <h1>{{ page.title }}</h1>
    {% endif %}
    <div class="meta">
        <span class="date">
            <i class="material-icons">today</i>
            {{ page.date | date_to_long_string }}
        </span>
        {% if page.categories %}
            <div class="categories">
                {% for cat in page.categories %}
                    <span class="category">
                        <i class="material-icons">label</i>
                        {{ cat }}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endunless %}