---
---

// customise sas variables : https://github.com/pages-themes/cayman/blob/master/_sass/variables.scss


@import "{{ site.theme }}";

// custom css goes here
.project-name > a { color: white;}
.material-icons { vertical-align: bottom; }
.meta { margin-bottom: 1rem; }
.meta .data { float: left; }
.meta .categories { float: right; }
.meta .tags { float: right; }
.content { clear: both; }
.site-footer { clear:both; }


