<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include pageheader.html %}

    <section class="main-content">
      {% include posttitle.html %}

      <div class="content">
        {{ content }}
      </div>
      <p class="meta">
        {% if page.tags %}
          <div class="meta">
            <div class="tags">
              {% for tag in page.tags %}
                <span class="tag">
                    <i class="material-icons">local_offer</i>
                    {{ tag }}
                </span>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </p>

      {% include sidebar.html %}
      {% include pagefooter.html %}
    </section>

    {% include analytics.html %}
  </body>
</html>